code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../public/fonts/NeueHaasDisplayBold.woff2") format("woff2"),
       url("../public/fonts/NeueHaasDisplayBold.woff") format("woff"),
       url("../public/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-color: #ceff00;
  --secondary-color: #ff4500;
  --background-color: #f5f5f5;
  --text-color: #333;
  
  --font-family: "Neue Haas Grotesk", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
